html {
  height: 100%;
  width: 100%;
}
body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 24px;
  color: #333;
}

label {
  font-size: 16px;
  color: #333;
}

input[type="text"], input[type="email"] {
  font-size: 16px;
  color: #333;
}
